* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: HarmoniaSansW01-Regular;
}
.wrap_95{
  width: 92.5%;
  margin: auto;
}
.wrap_70 {
  width: 70%;
  margin: auto;
}
.d-flex {
  display: flex;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
