* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrap_90 {
  width: 90%;
  margin: auto;
}
.wrap_70 {
  width: 70%;
  margin: auto;
}
.d-flex {
  display: flex;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
