.nav {
  background-color: white;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 342234;
}
.nav__bar {
  height: $navbarheigth;
  line-height: $navbarheigth;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  overflow: hidden;
  background-color: white;
  li {
    padding-left: 40px;
    font-weight: bold;
    font-size: 0.9em;
    a {
      color: $headercolor;
      transition: $transitiontime02;
      &:hover {
        color: $bluecolor;
      }
    }
  }
  i {
    line-height: $navbarheigth;
    font-size: 1.5em;
    display: none;
  }
  .button {
    button {
      @include buttonElement;
      &:hover {
        background-color: $bluecolor;
        color: white;
        img {
          -webkit-filter: brightness(100);
        }
      }
      img {
      @include buttonElementImage;
      }
    }
  }
}

.jumbo {
  margin-top: 180px;
  margin-bottom: 150px;
  .jumbo__left {
    width: 45%;
    h1 {
      font-size: 3.2em;
      font-weight: bold;
      color: $headercolor;
      line-height: 70px;
    }
    h6 {
      font-size: 1.4em;
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: normal;
      color: $headercolor;
    }
    button {
      @include buttonElement;
      background-color: #30488F;
      border-color: #223569;
      color: white;
      &:hover {
        background-color: #223569;
      }
      img {
      @include buttonElementImage;
      }
    }
    p {
      padding-top: 20px;
      a {
        color: $headercolor;
        font-size: 0.7em;
      }
    }
    span {
      display: inline-block;
      margin-left: 25px;
      margin-right: 25px;
      color: lightgrey
    }
  }
  .jumbo__right {
    width: 55%;
    text-align: right;
    img {
      width: 90%;
    }
  }
}
