@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import "Partials/_commons.scss";
@import "Partials/_variables.scss";
@import "Partials/_mixin.scss";
// NAV BAR
.nav__bar {
  height: $navbarheigth;
  line-height: $navbarheigth;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  overflow: hidden;
  .nav__bar__logo {
    height: $navbarheigth;
  }
  li {
    padding-left: 40px;
    font-weight: bold;
    font-size: 0.9em;
    a {
      color: $headercolor;
      &:hover {
        color: blue;
      }
    }
  }
  .button {
    button {
      @include buttonElement;
      &:hover {
        background-color: blue;
        color: white;
      }
      img {
      @include buttonElementImage;
      }
    }
  }
}

.jumbo {
  .jumbo__left {
    width: 45%;
    h1 {
      font-size: 3.2em;
      font-weight: bold;
      padding: 15px;
      color: $headercolor;
      line-height: 70px;
    }
    h6 {
      padding: 15px;
      font-size: 1.4em;
      font-weight: normal;
      color: $headercolor;
    }
    button {
      @include buttonElement;
      background-color: #30488F;
      border-color: #223569;
      color: white;
      margin-left: 50px;
      &:hover {
        background-color: #223569;
      }
      img {
      @include buttonElementImage;
      }
      span {
        padding-left: 25px;
      }
    }
  }
  .jumbo__right {
    width: 55%;
    background-color: grey;
    img {
      width: 100%;
    }
  }
}
.main__first {
  background-color: pink;
}
